# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data')

In [5]:
filepath = song_files[-1]
filepath # ='/home/song_data/A/A/B/TRAABJL12903CDCF1A.json'

'/home/workspace/data/song_data/A/A/A/TRAAABD128F429CF47.json'

In [6]:
df = pd.read_json(filepath, typ='series')
df

num_songs                            1
artist_id           ARMJAGH1187FB546F3
artist_latitude                35.1497
artist_longitude              -90.0489
artist_location            Memphis, TN
artist_name               The Box Tops
song_id             SOCIWDW12A8C13D406
title                        Soul Deep
duration                       148.035
year                              1969
dtype: object

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = (df['song_id'], df['title'], df['artist_id'], df['year'], df['duration'])
song_data

('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546)

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_data = (df['artist_id'],df['artist_name'],df['artist_location'],df['artist_latitude'],df['artist_longitude'])
artist_data

('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [11]:
log_files = get_files('data/log_data')

In [12]:
filepath = log_files[0]

In [13]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
df = df[df.page=='NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [15]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

0   2018-11-29 00:00:57.796
1   2018-11-29 00:01:30.796
2   2018-11-29 00:04:01.796
3   2018-11-29 00:04:55.796
4   2018-11-29 00:07:13.796
Name: ts, dtype: datetime64[ns]

In [16]:
time_data = (t, t.dt.hour.astype('int'),t.dt.day.astype('int'), t.dt.week.astype('int'), t.dt.month.astype('int'), t.dt.year.astype('int'), t.dt.weekday.astype('int'))
column_labels = ('start_time','hour', 'day', 'week', 'month', 'year', 'weekday')

In [17]:
time_df = pd.DataFrame.from_items(zip(column_labels,time_data))
time_df.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """Entry point for launching an IPython kernel.

               start_time  hour  day  week  month  year  weekday
0 2018-11-29 00:00:57.796     0   29    48     11  2018        3
1 2018-11-29 00:01:30.796     0   29    48     11  2018        3
2 2018-11-29 00:04:01.796     0   29    48     11  2018        3
3 2018-11-29 00:04:55.796     0   29    48     11  2018        3
4 2018-11-29 00:07:13.796     0   29    48     11  2018        3

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [19]:
user_df = df[['userId','firstName','lastName','gender','level']]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [20]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [28]:
count = 0
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    print(row.song.lower().split(r'[([]')[0].strip())
    cur.execute(song_select, (row.song.strip().lower(), row.artist.strip().lower().split(r'[\(\)\[\]]')[0], int(row.length)))
    results = cur.fetchone()
    #print(results)
    
    if results:
        songid, artistid = results
        print(songid, artistid)
    else:
        songid, artistid = None, None
        count +=1

    # insert songplay record
    songplay_data = (t[index], row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()
print(index,count)

ain't no sunshine
my advice 2 you (explicit)
my first kiss (feat. ke$ha) [album version]
the girl and the robot
too shy
potential
the great satan (what would satan do mix)
the screamer
knife going in (album version)
the greatest view (album version)
t.n.t. for the brain (112 bpm) (radio edit)
mon mãâ©tro
fly like an eagle
restless
you're the one
blue
channel 10
the oak tree (album version)
what if i do?
you're not alone
en glad calypso om vãâ¥ren (live '62)
down_ down_ down to mehphisto's cafe (album version)
tu eres ajena
estadio azteca
sleeper
toxic
merry go round (remastered single version)
square peg round hole
eqypt
make her say
nice day for a resurrection
sinisten tãâ¤htien alla
wade through the night
my axe
it's only money
untrust us
full throttle
make her say
crazy in the night (barking at airplanes)
white light/white heat
i cried for you
chicken hawk
breathe in
what goes around...comes around
moondance (album version)
make love to your mind
feel the love
s.ada.licht
the boss
turnin me on
risque (album version)
la guitarra
if i were a carpenter
but the nuns are watching
starvo
sorrow (1997 digital remaster)
won't do
in cairo
we rock
nothing better (album)
something out of nothing
when you look me in the eyes
cantalojas
in my daughter's eyes
smoke
so far so long
what a shame (album version)
vanity case (nouvelle version)
hammerhead (explicit)
hekura
candle
slow dancing in a burning room
geek in the pink (album version)
technologic
again
carol brown
invalid
daylight
undercover martyn
clear channel (fuck off!)
they might follow you
the climb
who can compare
somebody to love
tiempo
happy alone
i smell a rat (lp version)
kryptonite (radio edit) (feat. big boi)
old blue jeans
replay
aquamosh
be (intro)
i may never find
runaway (original)
eric b. is on the cut
a woman's love   (lp version)
falling in hate
desert rose
if i cut my hair_ hawaii will sink (album version)
i wonder why
prayin for help (amended album version)
sinister kid
flume
all the right moves
word up
auditorium
hallowed be my name
i am the club (explicit album version)
hearts break
sugar ray (lp version)
the way i loved you
inside my love
comet course
can't take my eyes off you
elsewhere
hong kong blues
you're the one
threat
the gift
idle hands (album version)
you're the one
wishing well
here without you
dry spell
secrets
fuck and run
far away (album version)
girl i love you
beat goes on [featuring kanye west] (album version)
don't walk away
bone machine
mi marfil
none shall pass (main)
with you
to go beyond (ii)
glitter in the air
heartbeats
better is one day (stereo trax)
two shoes
someday
interactive halloween bear
better off alone
next evil
omg
fighters (feat. matthew santos) (amended album version)
la guitarra
at least it's raining
breaking inside (album version)
the moon asked the crow
pais e filhos
word up!
dreamer
born losers
january wedding
i'm sorry
the fear
revelry
i know you got soul
hello
stella the artist
the sweetest taboo
that's how you like it
hey shorty (yeah yeah pt. ii) (feat. u$o & johnson)
i'll never kill again
quiero quererte querer
is this it
i get money
(there was a) tall oak tree
horse with no name
vãâ­cio de ti
solo creo lo que veo
sehnsucht
woman like a man
sequencer mood 1
ooh
overture
save tonight
move on up (extended lp version)
death rides a horse
old panda days (w/ nick krgovich)
i can't get started
no remorse
wot
blues (2005 digital remaster)
invalid
harder than you know
new soul
weird fishes/arpeggi
a lack of color (album version)
sooner than you think
you're the one
love my shake
spit it out [explicit]
big red
holy roller novocaine
horn concerto no. 4 in e flat k495: ii. romance (andante cantabile)
all my friends
no puedo evitar (pensar en ti)
she has a girlfriend now
burning creation
back to you
don't turn your back on fear
ladybird
famous blue raincoat
take it easy (love nothing) (album version)
live forever [fly with me] [feat. daryl hall]
promise me
ringing bells
droomland (duet met paul de leeuw)
my night with the prostitute from marseille
this is beautiful
look what they done to my song_ ma
the middle
taja's lude (interlude)
juramento
the news
love me like a river does
fireflies
mighty joe moon
karma police
love and treachery
it's my life
country road
canciãâ³n triste
unknown brother
kid a
almaz
almaz
born in africa
what you know
head full of doubt/road full of promise
hot pursuit
pussywillow
don't cry (original)
kissing behind the rubbery grinder
beyond the beyond (instrumental)
yum yum (gimme some)
caixinha de mãâºsica do joãâ£o
mr. sad
a lion's heart
heaven is a truck
stronger
clichãâ© guevara
imperial (lp amended version)
always and forever
sehr kosmisch
california girls (album version)
the invisible man
kaaos ei karkaa
mc material
faust arp
droomland (duet met paul de leeuw)
savior
ostia
witness
crossfire
still
so far from the truth
follow the star
you dance
have a nice day
la boulette (gãâ©nãâ©ration nan nan)
blackest eyes (album version)
once
kite
walking with thee
darkshines [live from le zenith]
tãâº
sebrina_ paste and plato
bitter sweet symphony
lissoms
sample track 2
figure.09 (album version)
the wonderful cross
teardrop
this afternoon (album version)
o canto da ema
heartbreak warfare
waterfall
tavallinen tarina
step to me
only time (original version)
still be friends
non saprai mai
fireflies
the worst taste in music (extended)
war on war
despre tine
whataya want from me
red
damaged [feat. fabolous]
sulk
the english way
to be with you
poison oak (album version)
grand hotel
planet telex
sinceritãâ© et jalousie
new born
5_ 6_ 7_ 8
the heart of life
revelry
draw the line
the ugly one (aka lee van cleef)
invalid
cathar rhythm
the queen of nothing
good time
figures
bone broke
are you the walrus?
amityville
i'm not calling you a liar
signos
you belong with me
rearviewmirror
me so horny
loco
midnight groovin' (7" version) (2006 digital remaster)
365 319

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [23]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.

In [19]:
len(df.index)

319